################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

# ===== 서버 관련(VS) =====
/Server/Server/obj
/Server/Server/bin
/Server/ServerCore/obj
/Server/ServerCore/bin
/Server/DummyClient/obj
/Server/DummyClient/bin
/Server/.vs/Server
/Server/.vs/ProjectEvaluation
/Server/PacketGenerator/obj
/Server/Common
/Server/PacketGenerator/bin

# ===== 클라이언트 관련 (Unity) =====
/MMORPG/[Ll]ibrary/
/MMORPG/[Tt]emp/
/MMORPG/[Oo]bj/
/MMORPG/[Bb]uild/
/MMORPG/Builds/
/MMORPG/[Ll]ogs/
/MMORPG/[Uu]serSettings/
/MMORPG/.vs/

# VSCode 관련 (유니티에서도 자주 씀)
/MMORPG/.vscode/

# JetBrains Rider 관련
/MMORPG/.idea/

# 시스템 파일
.DS_Store
Thumbs.db